@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(img/fundo.jpeg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;

}

.img_fundo {
    /* background-image: url('Imagem/fundo_bolos.jpg');*/ 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0; /* Coloca a imagem de fundo atrás */
}

.conteudo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura do container para a altura total da tela */
}






.navbar {
    background-color: white; 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 30px 30px; 
    position: relative; /* ou absolute, dependendo do layout desejado */
    z-index: 10; /* Certifique-se de que este valor seja maior que o z-index da img_fundo */
}




.nav-links {
    list-style-type: none; 
    display: flex; /* Itens em linha */
    align-items: center; 
    justify-content: center;
    font-weight: bold;
}

.nav-links li {
    margin: 0 7%; /* Espaço entre os itens */
}

.nav-links a {
    color: #e60965b0;
    text-decoration: none; 
    font-size: 16px; 
}

.nav-links .logo img {
    height: 60px; /* Altura do logo */
    width: 120%; 
}





.content-container {
    display: flex;
    align-items: center;
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    padding: 20px;
    position: relative; /* Para aplicar z-index corretamente */
    z-index: 1; /* Certifique-se de que este valor seja maior que o z-index da img_fundo */
    justify-content: center; /* Alinha o conteúdo horizontalmente */

}


.left-side {
    flex: 1;
    text-align: center;
}

.left-side:hover {
    opacity: 0.9;
}

.bolo-image {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 350px; /* Limite máximo para a imagem */
    height: auto;
    border-radius: 50px;
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.3);

}

.right-side {
    flex: 1;
    padding-left: 20px; /* Espaçamento entre os lados */
    color: #98594D;
}

h2, h3 {
    margin: 10px 0;
    font-family: "Kaushan Script", sans-serif;
}

button {
    background-color: #98594D; /* Cor do botão */
    color: white;
    border: none;
    padding: 1.5% 5%;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    font-size: 90%;
}

button:hover {
    background-color: rgba(119, 69, 59, 0.644); /* Cor do botão ao passar o mouse */
}


footer {
    background-color: #f8f8f8; 
    padding: 20px;

    position: relative; /* Para aplicar z-index corretamente */
    z-index: 10;
    border: 1px solid #98594D;
}
.footer-container {
    display: flex;
    justify-content: flex-start; /* Alinha as colunas à esquerda */

}

.footer-column {
    margin-right: 7%;
    text-align: left;
}


.footer-column h3 {
    color: #000000; 
    margin-bottom: 10px; 
    font-size: 16px; 
}

.footer-column p {
    margin: 5px 0; 
    font-size: 14px;
}
.footer-column a {
    color: #000000;
    text-decoration: none; 
    font-size: 14px; 
}

.footer-column a:hover {
    text-decoration: underline; 
}

.contact-button {
    background-color: #e60965b0; 
    color: white;
    border: none;
    padding: 8px 35px;
    cursor: pointer;
    margin: 10px 0; 
}

.contact-button:hover {
    background-color: #e609655b; 
}

.map {
    margin-top: 10px; /* Margem acima do mapa */
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
}


