@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(img/fundo.jpeg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e6096507;
}

.img_fundo {
    /* background-image: url('Imagem/fundo_bolos.jpg');*/ 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: 0; /* Coloca a imagem de fundo atrás */
}

.conteudo {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Para empilhar os elementos verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura do container para a altura total da tela */
}






.navbar {
    background-color: white; 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 30px 30px; 
    position: relative; /* ou absolute, dependendo do layout desejado */
    z-index: 10; /* Certifique-se de que este valor seja maior que o z-index da img_fundo */
}




.nav-links {
    list-style-type: none; 
    display: flex; /* Itens em linha */
    align-items: center; 
    justify-content: center;
    font-weight: bold;
}

.nav-links li {
    margin: 0 7%; /* Espaço entre os itens */
}

.nav-links a {
    color: #e60965b0;
    text-decoration: none; 
    font-size: 16px; 
}

.nav-links .logo img {
    height: 60px; /* Altura do logo */
    width: auto; 
}





.content-container {
    display: flex;
    align-items: center;
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    padding: 20px;
    position: relative; /* Para aplicar z-index corretamente */
    z-index: 1; /* Certifique-se de que este valor seja maior que o z-index da img_fundo */
    justify-content: center; /* Alinha o conteúdo horizontalmente */

}


.left-side {

    text-align: center;
    flex: 0.45; /* Ajuste a proporção */
    text-align: center;
}

.left-side:hover {
    opacity: 0.9;
}

.bolo-image {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 40vh; /* Limite máximo para a imagem */
    height: auto;
    border-radius: 50px;
    box-shadow: 0 30px 35px rgba(0, 0, 0, 0.3);

}

.right-side {
    flex: 1;
    padding-left: 10px; /* Espaçamento entre os lados */
    color: #e60965b0 ;
}

h2, h3 {
    margin: 10px 0;
    font-family: "Kaushan Script", sans-serif;
    color: #e60965d8 ;
}

.content-container button {
    background-color: #e6096507; /* Torna o fundo do botão transparente */
    color: #e60965b0; /* Cor do texto do botão (rosa) */
    border: 1px solid #e60965b0; /* Borda rosa */
    /*padding: 1.5% 5%;*/
    padding: 10px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.114);
    font-size: 75%;
    width: 17%;
}

button:hover {
    background-color: #e60965b0; /* Cor do botão ao passar o mouse */
    color: white;
}


footer {
    background-color: #f8f8f8; 
    padding-top: 0.5%;
    position: relative;
    z-index: 10;
    max-height: 25vh; /* Ajuste a altura máxima conforme necessário */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura máxima */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.114); /* Sombra apenas na parte superior */
}


.footer-container {
    display: flex;
    justify-content: flex-start; /* Alinha as colunas à esquerda */

}

.footer-column {

    text-align: left;
}


.footer-column h3 {
    color: #000000; 
    margin-bottom: 10px; 
    font-size: 1.8vh; 
}

.footer-column p {
    margin: 5px 0; 
    font-size: 1.7vh;
}
.footer-column a {
    color: #000000;
    text-decoration: none; 
    font-size: 1.7vh; 
}

.footer-column a:hover {
    text-decoration: underline; 
}

.contact-button {
    background-color: #e60965b0; 
    color: white;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    margin: 8px 0; 
    font-size: 1.5vh;
    border-radius: 50px;
}

.contact-button:hover {
    background-color: #dd025db0; 
}

.map {
    margin-top: 10px; /* Margem acima do mapa */
    box-shadow: none;
    border-radius: 20%;
    height: 30%;
    width: 65%;
}

html, body {
    height: 100%; 
    margin: 0; 
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    
}


