@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-color: #FEEBF1;
}

/* NAV */



.parte1 {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    z-index: 1; /* Garante que o conteúdo esteja acima do background */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
}


.parte1::before {
    content: '';
    position: absolute;
    height: 100vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('Imagem/Bolo.png');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.7; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}



h1, h3 {
    font-family: "Kaushan Script", sans-serif;
}

.parte1::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: linear-gradient(to bottom, rgba(254, 235, 241, 0) 95%, #FEEBF1 97%); 
    opacity: 0.9s; 
    pointer-events: none; 
}

.parte1 .texto1{
    font-size: 2.5vh;
    display: flex;
    color: #fff;
    margin-top: 15%;
    margin-left: 10%;
}

.parte1 h1{
    font-size: 6vh;
    display: flex;
    color: #fff;
    margin-left: 10%;
}

.parte1 .texto {
    width: 18%;
    color: #fff;
    margin-left: 10%;
    margin-top: 2%; 
    font-size: 2.3vh;
}


.navbar {
    background-color: white; 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 30px 30px; 
}



.nav-links {
    list-style-type: none; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-weight: bold;
}

.nav-links li {
    margin: 0 7%; 
}

.nav-links a {
    color: #e60965b0;
    text-decoration: none; 
    font-size: 16px; 
}

.nav-links .logo img {
    height: 60px; 
    width: auto; 
}

/* MENU */

.menu h3{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex; 
    font-size: 9vh;
    color: #E60965;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    opacity: 0.6;
}

/* OPÇÕES */

.btn-option{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 2px 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.btn-option img:hover{
    filter: none

}
.promo-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1.5%;
}

.promo-box img {
    width: 220px;
    margin: 5px 5px;
    border-radius: 50px;
    transition: 1.5s;
    border: 5.5px solid #ECA2BB;
    border-bottom: 27px solid #ECA2BB;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.promo-box h4{
    margin-top: -12%;
    color: #fff;

}

/* Produtos */

.Main-swiper {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 1200px; 
    margin: auto; 
    margin-top: 5%;
}

.swiper {
    width: 100%; 
    height: 300px; 
    background-color: #ECA2BB; 
    border-radius: 50px; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
  

.project-img p {
    color: #fff;
    font-size: 1.2em; 
    text-align: center;
    justify-content: center;
}

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.project-img {
    display: flex; 
    justify-content: center; 
}

.swiper-slide {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.flex-container img {
    width: 200px; 
    margin-bottom: 10px; 
    border-radius: 10%;
}

.flex-container p {
    color: #fff; 
    font-size: 1.2em;
    text-align: center; 
}

.flex-container a{
    text-decoration: none;
}


/* BOTOES */

.Banner {
    display: flex;
    background-image: url(Imagem/confeiteira.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 90vh; 
    overflow: hidden; 
    margin-top: 7%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
  
}

.Banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;

}

.sobre1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    font-size: 3vh;
}

.Banner-box {
    display: flex;
    width: 35%;  
    height: 90%;      
    background-color: #a8a8a83d; 
    border-radius: 20%;
    align-items: center;
    margin: auto;
    z-index: 2; 
    margin-left: 5%
}

.Banner-box h1,p {
    display: flex;
    opacity: 1; 
    color: #fff; 
    z-index: 3; 
    align-items: center;
    margin: auto;

}

.Banner-box h1 {
    font-size: 6vh;
    justify-content: center;
}

.Banner-box p {
    font-size: 2.5vh; 
    color: #fff;
    margin-top: 10%;
    text-align: center;
    justify-items: center;
}

.sobre2 {
    margin-left: 17%;
    margin-right: 17%;
}

.Celular_01 {
    display: flex;
    width: 32%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
}

.style_video {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Adiciona um espaço em cima e embaixo, se necessário */

}


.video {
    width: 55%; /* Altera para a largura desejada */
    height: auto; /* Mantém a proporção do vídeo */
    max-width: 100vw; /* Define um limite máximo de largura se necessário */
    display: block; /* Centraliza o vídeo se necessário */
    margin: 0 auto; /* Centraliza horizontalmente */

}




footer {
    background-color: #f8f8f8; 
    padding-top: 0.5%;
    position: relative;
    z-index: 10;
    max-height: 25vh; /* Ajuste a altura máxima conforme necessário */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda a altura máxima */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.114); /* Sombra apenas na parte superior */
}


.footer-container {
    display: flex;
    justify-content: flex-start; /* Alinha as colunas à esquerda */

}

.footer-column {

    text-align: left;
}


.footer-column h3 {
    color: #000000; 
    margin-bottom: 10px; 
    font-size: 1.8vh; 
}

.footer-column p {
    margin: 5px 0; 
    font-size: 1.7vh;
}
.footer-column a {
    color: #000000;
    text-decoration: none; 
    font-size: 1.7vh; 
}

.footer-column a:hover {
    text-decoration: underline; 
}

.contact-button {
    background-color: #e60965b0; 
    color: white;
    border: none;
    padding: 5px 30px;
    cursor: pointer;
    margin: 8px 0; 
    font-size: 1.5vh;
    border-radius: 50px;
}

.contact-button:hover {
    background-color: #dd025db0; 
}

.map {
    margin-top: 10px; /* Margem acima do mapa */
    box-shadow: none;
    border-radius: 20%;
    height: 30%;
    width: 65%;
}


