* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #FEEBF1;
}

/* NAV */

.parte1 {
    background-image: url(Imagem/Bolo.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
}

.parte1::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: linear-gradient(to bottom, rgba(254, 235, 241, 0) 95%, #FEEBF1 97%); 
    opacity: 0.10s; 
    pointer-events: none; 
}

.parte1 .texto1{
    font-size: 2.5vh;
    display: flex;
    color: #fff;
    margin-top: 15%;
    margin-left: 10%;
}

.parte1 h1{
    font-size: 6vh;
    display: flex;
    color: #fff;
    margin-left: 10%;
}

.parte1 .texto {
    width: 17%;
    color: #fff;
    margin-left: 10%;
    margin-top: 2%; /* Remove a margem superior */
    font-size: 2vh;
}


.navbar {
    background-color: white; 
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 30px 30px; /* Apenas os cantos inferiores */
}



.nav-links {
    list-style-type: none; 
    display: flex; /* Itens em linha */
    align-items: center; 
    justify-content: center;
    font-weight: bold;
}

.nav-links li {
    margin: 0 7%; /* Espaço entre os itens */
}

.nav-links a {
    color: #ECA2BB;
    text-decoration: none; 
    font-size: 16px; 
}

.nav-links .logo img {
    height: 60px; /* Altura do logo */
    width: auto; 
}

/* MENU */

.menu h3{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex; 
    font-size: 75px;
    color: #E60965;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

/* OPÇÕES */

.btn-option{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 2px 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.btn-option img:hover{
    filter: none

}
.promo-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 1.5%;
}

.promo-box img {
    width: 220px;
    margin: 5px 5px;
    border-radius: 50px;
    transition: 1.5s;
    border: 5.5px solid #ECA2BB;
    border-bottom: 27px solid #ECA2BB;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.promo-box h4{
    margin-top: -12%;
    color: #fff;

}

/* Produtos */

.Main-swiper {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 1200px; 
    margin: auto; 
    margin-top: 5%;
}

.swiper {
    width: 100%; 
    height: 300px; 
    background-color: #ECA2BB; 
    border-radius: 50px; 
}

  
  .swiper img {
    box-shadow: 0 1px 2px #0003;
    width: 20%;
  }

  
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

/* BOTOES */

.Banner {
    display: flex;
    background-image: url(Imagem/confeiteira.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 90vh; 
    overflow: hidden; 
    margin-top: 7%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    
}

.Banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.sobre1 {
    justify-content: center;
    margin-bottom: 1%;
    font-size: 3vh;
}

.Banner-box {
    display: flex;
    width: 35%;  
    height: 90%;      
    background-color: #a8a8a83d; 
    border-radius: 20%;
    align-items: center;
    margin: auto;
    z-index: 2; 
    margin-left: 5%
}

.Banner-box h1,p {
    display: flex;
    opacity: 1; 
    color: #fff; 
    z-index: 3; 
    align-items: center;
    margin: auto;

}

.Banner-box h1 {
    font-size: 6vh;
    justify-content: center;
}

.Banner-box p {
    font-size: 2.5vh; 
    color: #fff;
    margin-top: 10%;
    text-align: center;
    justify-items: center;
}

.sobre2 {
    margin-left: 17%;
    margin-right: 17%;
}

.Celular_01 {
    display: flex;
    width: 32%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
}


footer {
    background-color: #f8f8f8; 
    padding: 20px;

    position: relative; /* Para aplicar z-index corretamente */
    z-index: 10;
    border: 1px solid #98594D;
}
.footer-container {
    display: flex;
    justify-content: flex-start; /* Alinha as colunas à esquerda */

}

.footer-column {
    margin-right: 7%;
    text-align: left;
}


.footer-column h3 {
    color: #000000; 
    margin-bottom: 10px; 
    font-size: 16px; 
}

.footer-column p {
    margin: 5px 0; 
    font-size: 14px;
}
.footer-column a {
    color: #000000;
    text-decoration: none; 
    font-size: 14px; 
}

.footer-column a:hover {
    text-decoration: underline; 
}

.contact-button {
    background-color: #e60965b0; 
    color: white;
    border: none;
    padding: 8px 35px;
    cursor: pointer;
    margin: 10px 0; 
}

.contact-button:hover {
    background-color: #e609655b; 
}

.map {
    margin-top: 10px; /* Margem acima do mapa */
}

footer h3,
footer p {
    color: black; /* Define a cor do texto para preto */
}



