* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #FEEBF1;
}

/* NAV */

.parte1 {
    background-image: url(Imagem/Bolo.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
}

.parte1::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: linear-gradient(to bottom, rgba(254, 235, 241, 0) 90%, #FEEBF1 97%); 
    opacity: 0.10s; 
    pointer-events: none; 
}

.parte1 p{
    font-size: 20px;
    display: flex;
    color: #fff;
    margin-top: 18%;
    margin-left: 5%;
}

.parte1 h1{
    font-size: 45px;
    display: flex;
    color: #fff;
    margin-left: 5%;
}

.navbar {
    background-color: white; 
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 30px 30px; /* Apenas os cantos inferiores */
}



.nav-links {
    list-style-type: none; 
    display: flex; /* Itens em linha */
    align-items: center; 
    justify-content: center;
    font-weight: bold;
}

.nav-links li {
    margin: 0 7%; /* Espaço entre os itens */
}

.nav-links a {
    color: #ECA2BB;
    text-decoration: none; 
    font-size: 16px; 
}

.nav-links .logo img {
    height: 60px; /* Altura do logo */
    width: auto; 
}

/* MENU */

.menu h3{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex; 
    font-size: 75px;
    color: #E60965;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

/* OPÇÕES */

.btn-option{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 2px 5px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.btn-option img:hover{
    filter: none

}
.promo-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 1.5%;

}

.promo-box img {
    width: 220px;
    margin: 5px 5px;
    border-radius: 50px;
    transition: 1.5s;
    border: 5.5px solid #ECA2BB;
    border-bottom: 27px solid #ECA2BB;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.promo-box h4{
    margin-top: -12%;
    color: #fff;

}

/* Produtos */

.Carrossel{
    display: flex;
    width: 90%;    
    height: 300px;      
    background-color: #ECA2BB;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.Carrossel h2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.3%; 
    color: #fff;
}

.box-produtos {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.box-produtos img {
    width: 19%;
    padding: 2%;
    border-radius: 50px;
    overflow: hidden;
    padding: 10px;
}

.Carrossel_fotos{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* BOTOES */

.next-button img,button{
    display: flex;
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 60px;
}

.next-button {
    margin: 0 30px;
}

.Banner {
    display: flex;
    background-image: url(Imagem/confeiteira.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
    height: 100vh; 
    overflow: hidden; 
    margin-top: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.Banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.Banner-box {
    display: flex;
    width: 35%;  
    height: 90%;      
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 30px;
    align-items: center;
    margin: auto;
    z-index: 2; 
    margin-left: 5%
}

.Banner-box h1,p {
    display: flex;
    opacity: 1; 
    color: #fff; 
    z-index: 3; 
    align-items: center;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.Banner-box h1 {
    font-size: 50px;
    justify-content: center;
}

.Banner-box p {
    font-size: 25px; 
    color: #fff;
    margin-top: 10%;
    text-align: center;
}


.Celular_01 {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
}

