* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eca2ba91;
    min-height: 100vh; /* Altura mínima de 100% da altura da tela. */
    display: flex; /* Usando layout flexível. */
    align-items: center; /* Alinha itens verticalmente ao centro. */
    justify-content: center; /* Alinha itens horizontalmente ao centro. */
    position: relative; /* Permite o posicionamento absoluto dos filhos */
}

.tela {
    background-image: url('img/fundo.png'); /* Define a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-size: cover; /* Escala a imagem para cobrir todo o elemento */
    position: absolute; /* Posiciona o overlay de forma absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    right: 0; /* Alinha à direita */
    bottom: 0; /* Alinha ao fundo */
    opacity: 0.7; /* Define a opacidade da imagem de fundo */
    z-index: 1; /* Coloca o overlay abaixo do conteúdo */
}


.container {
    width: 420px;
    height: 350px;
    background-color: #ffffff; 
    opacity: 0.5; /* Aumenta a opacidade do contêiner */
    border-radius: 40px; /* Cantos arredondados */
    padding: 30px 40px; /* Espaço interno, separando o conteúdo das bordas */
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.151); /* Sombra */
    position: relative; /* Para que o z-index funcione */
    z-index: 2; /* Coloca o contêiner acima da imagem de fundo */
    backdrop-filter: blur(10px); /* Desfoque ao fundo para efeito visual */
    
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #000000ce;
}

.logo {
    position: absolute; /* Faz o logo ser posicionado absolutamente */
    top: 20px; /* Ajuste a posição vertical conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    height: 150px; /* define uma altura para o logo */
    text-align: center; /* centraliza o logo */
    opacity: 0.7;
    z-index: 3; /* Coloca o logo acima da imagem de fundo */
    margin-top: 4%;
}


.logo img {
    height: 100%; /* ajuste a altura da imagem */
    width: auto; /* mantém a proporção */
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0;
}

.input-container input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 40px; /* Espaçamento interno para acomodar o ícone */
    outline: none; /* Remove o contorno padrão */
}

.input-container input::placeholder {
    color: #000000ce;
}

.input-container img {
    position: absolute;
    left: 15px; /* Ajusta a posição do ícone para a esquerda */
    top: 50%;
    transform: translateY(-50%);
}



.submit-button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: #e60965;
    border: none;
    border-radius: 40px;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #e6096583; /* Efeito de hover */
}

.register-link  {
    text-align: center;
    margin: 20px 0;
}

.register-link p {
    font-size: 16px;
    color: #000000ce;
    font-weight: 500;
   
  
}
.register-link p a{
    font-size: 16px;
    color: #000000ce;
    font-weight: 700;
    text-decoration: none;
 

}

.register-link p a:hover{
    text-decoration: underline;
}

